.morning{
  background-color: whitesmoke;
  text-align: center;
}
.light{
  color: white;
}
.night{
  background-color: black;
  text-align: center;
}
.button{
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  margin: 10px;
}